$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?87d8df7a8553f359cf0fca8180eeb5b3") format("truetype"),
url("./flaticon.woff?87d8df7a8553f359cf0fca8180eeb5b3") format("woff"),
url("./flaticon.woff2?87d8df7a8553f359cf0fca8180eeb5b3") format("woff2"),
url("./flaticon.eot?87d8df7a8553f359cf0fca8180eeb5b3#iefix") format("embedded-opentype"),
url("./flaticon.svg?87d8df7a8553f359cf0fca8180eeb5b3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "right-quote": "\f101",
    "personal": "\f102",
    "loan": "\f103",
    "work": "\f104",
    "agriculture": "\f105",
    "talent-search": "\f106",
    "idea": "\f107",
    "key-outline": "\f108",
    "value": "\f109",
);

.flaticon-right-quote:before {
    content: map-get($flaticon-map, "right-quote");
}
.flaticon-personal:before {
    content: map-get($flaticon-map, "personal");
}
.flaticon-loan:before {
    content: map-get($flaticon-map, "loan");
}
.flaticon-work:before {
    content: map-get($flaticon-map, "work");
}
.flaticon-agriculture:before {
    content: map-get($flaticon-map, "agriculture");
}
.flaticon-talent-search:before {
    content: map-get($flaticon-map, "talent-search");
}
.flaticon-idea:before {
    content: map-get($flaticon-map, "idea");
}
.flaticon-key-outline:before {
    content: map-get($flaticon-map, "key-outline");
}
.flaticon-value:before {
    content: map-get($flaticon-map, "value");
}
